.idea/*
.git

capacity_factors_world_atlas/*
capacity_factors_atlite

.env

assets/*.nc

assets/option_1_output/
assets/option_2_output/
assets/option_3_output/
assets/option_4_output/
assets/option_5_output/
assets/option_6_output/
assets/option_7_output/

atlite_output_data/*

__pycache__
